<body>
    <div class="board">
        <div class="titulo_grafica">
            <h3 class="t_grafica">Título del Graduado</h3>
        </div>
        <div class="sub_board">
            <div class="sep_board"></div>
            <div class="cont_board">
                <div class="graf_board">
                    <div class="barra">
                        <div class="sub_barra b1">
                            <div class="tag_g">35%</div>
                            <div class="tag_leyenda">día 1</div>
                        </div>
                    </div>
                    <div class="barra">
                        <div class="sub_barra b2">
                            <div class="tag_g">5%</div>
                            <div class="tag_leyenda">día martes</div>
                        </div>
                    </div>
                    <div class="barra">
                        <div class="sub_barra b3">
                            <div class="tag_g">55%</div>
                            <div class="tag_leyenda">día 3</div>
                        </div>
                    </div>
                    <div class="barra">
                        <div class="sub_barra b4">
                            <div class="tag_g">75%</div>
                            <div class="tag_leyenda">día 4</div>
                        </div>
                    </div>
                    <div class="barra">
                        <div class="sub_barra b5">
                            <div class="tag_g">85%</div>
                            <div class="tag_leyenda">día 5</div>
                        </div>
                    </div>
                </div>
                <div class="tag_board">
                    <div class="sub_tag_board">
                        <div>1020</div>
                        <div>90</div>
                        <div>80</div>
                        <div>70</div>
                        <div>60</div>
                        <div>50</div>
                        <div>40</div>
                        <div>30</div>
                        <div>20</div>
                        <div>10</div>
                    </div>
                </div>
           </div> 
            <div class="sep_board"></div>
       </div>    
    </div>

</body>
<!--Html pastel-->
<style type="text/css" id=codigo>
    #torta { 
    position: relative; 
    height: 300px; width: 300px; 
    overflow: hidden; 
    border-radius: 100%; 
    background-color: dodgerblue;
      background-image:
        linear-gradient(108deg, rgb(84,76,164), rgb(84,76,164) 49.9%, transparent 50.1%, transparent 100%);
    } 
    #torta::before { 
    content: ''; 
    position: absolute; 
    height: 100%; width: 100%; 
    top: 0; left: 0; 
    border-radius: inherit;
    background-color: #7C6ABF;
    clip: rect(0, 300px, 150px, 0px); 
    background-image: 
        linear-gradient(324deg, #53A7F1, #53A7F1 49.9%, transparent 50.1%, transparent 100%), 
        linear-gradient(252deg, #B162A3, #B162A3 49.9%, transparent 50.1%, transparent 100%);  
    }
    </style>
    

    <div id=torta></div>
    
    